:root {
    --primary-color: #3D4DFF;
    --secundant-color: #000000;
    --icon-color: #252525;
}

ul, ol, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    font-family: "Fredoka", sans-serif;
}



/* Rodapé */
footer {
    background-color: #3D4DFF;
    color: #fff;
    padding: 60px 0;
    text-align: center;
    clear: both;
}